exclude: "migrations/.*"
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.3
    hooks:
      - id: ruff
      # useful when running pre-commit locally
        args: ["--fix"]

      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args:
          [
            --pretty,
            --show-error-codes,
            --install-types,
            --non-interactive,
          ]

  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    # complexipy version.
    rev: v2.0.0
    hooks:
      # Run the cognitive complexity checker.
      - id: complexipy
        types_or: [ python, pyi ]
